<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#" style="display: flex; align-items: center;">
        <img src="https://www.gstatic.com/devrel-devsite/prod/v7385327dc46d08b8dfdb825d1a873cb039e1740549bdbb7e3c982c2f1dbdd48e/firebase/images/touchicon-180.png"
            width="30" height="30" class="d-inline-block align-top" alt="">
        Santa secreto familiar
    </a>


    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user; else LoginButton">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <img style="border-radius: 100%;" *ngIf="user.photoURL" src="{{user.photoURL}}" width="30" height="30"
                class="d-inline-block align-top" alt="">
            {{user.email}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="/panelDeControl">Panel de control</button>
            <button ngbDropdownItem routerLink="/login" (click)="logOut()">Salir</button>
        </div>
    </div>

    <ng-template #LoginButton>
        <button class="btn btn-primary" routerLink="/login"> Ingresar</button>
    </ng-template>
</nav>